/* CSS files add styling rules to your content */
* {
  font-family: 'VT323', monospace;
background-color: #1977CE;
}

h1 {
  margin: 0;
}


.container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  /* display: grid;
  grid-template-columns: repeat(1, auto); */
  /* flex-direction: row; */
  /* justify-content: space-around; */
  /* align-items: center; */
}
/* command + slash makes comment */
/* .image-wrapper, .sidebar {
  display: inline-block;
  vertical-align: top;
} */
.image-wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 500px
  /* height: 80%; */
  /* margin-top: 30px; */
}

img {
/* margin-left: auto;
margin-right: auto; */
}

.sidebar {
  /* border: 1px dotted white; */
  width: 100%;
  height: 100%;
}

/* .title {
  border: 1px solid white;
  background-color: white;
  height: 40%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  margin-top: 30px;
} */

#titleimage {
display: block;
  margin-left: auto;
  margin-right: auto;
}

.calendar {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: 1.5em repeat(5, 5em);
  outline: 1px black;
}

/* .weekday, .day {
  border: 1px solid black;
} */
.weekday {
  font-size: 22px;

}
